@charset "UTF-8";

html {
  font-size: calc(10 * 100vw / 375); /* 390はSPデザインカンプの幅 */
  /* 変換サイト・ツールなどで、 390pxの幅での10pxを変換して2.56vwなのでそれを当ててもよい */
  /* font-size: 2.564102vw; */
}

@media (min-width:768px) {
html {
        font-size: calc(10 * 100vw / 1920); /* 1200はPCカンプのコンテンツ幅 */
}
}

@media (min-width: 1920px) {
html {
        font-size: 62.5%; }
}

@media (min-width: 768px) {
    body {
    font-size: 1.6rem;
    }
}

body {
    font-family: "Noto Sans JP",sans-serif;
    line-height: 1.75rem;
    color: #333;
    padding-top: 7rem;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


/* ヘッダー */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    padding-left: 1.6rem;
    box-shadow: 0 .2rem .8rem rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
}
/* pc ヘッダー */
@media (min-width:768px) {
    .header {
        justify-content: center;
        padding-left: 0;
        height: 10.1rem;
    }
    .header-logo {
        content: url('../image/pc_logo.png');
        width: 24.1rem;
    }
}

/* ハンバーガーボタン */
.hamburger-button {
    margin-top: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    background-color: #0058ac;
    cursor: pointer;
}
.hamburger-button img {
    width: 3rem;
}
@media (min-width:768px) {
    .hamburger-button {
        display: none;
    }
}

/* sp ナビゲーション */
.sp-nav {
    position: fixed;
    top: 7rem;
    left: 0;
    z-index: 1000;
    width: 100%;
    text-align: left;
    background-color: #0058ac;
    box-sizing: border-box;
    padding: 0 2rem 3.2rem;
    display: none;
}
.sp-nav-list-text {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    height: 6.7rem;
    width: 33.1rem;
    padding-top: 2.4rem;
    border-bottom: 0.1rem solid rgba(225,225,225,0.5);
}
.sp-nav-list-text a {
    color: #fff;
}
.sp-nav-list-icon {
    padding-right: 0.7rem;
}
ul li:nth-child(3) {
    letter-spacing: .4rem;
}
.sp-nav-list-text:last-child {
    margin-bottom: 3.2rem;
}
.sp-nav-button-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.5rem;
    height: 6.6rem;
    border: none;
    border-radius: 3.3rem;
    font-size: 2rem;
    font-weight: 700;
    color: #0058ac;
    background-color: #fff;
    margin: auto;
}

.pc-nav {
    display: none;
}
/* pc ナビゲーション */
@media (min-width: 768px) {
    .pc-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pc-nav-list {
        margin-left: 15.8rem;
    }
    .pc-nav-list li {
        display: inline-block;
        font-size: 2rem;
        font-weight: 400;
        margin-right: 4.8rem;
    }
    .pc-nav-button-entry {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28.2rem;
        height: 6.1rem;
        border: none;
        border-radius: 3.3rem;
        font-size: 2rem;
        font-weight: 700;
        background: linear-gradient(to right,#0271E0,#53A2F0);
        color: #fff;
    }
}


/* カバー */
.cover {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 25rem;
    background-image: url("../image/mainvisual_sp.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
}
.cover-catch-container {
    display: flex;
    padding-left: 1.6rem;
    padding-top: 3.4rem
}

.cover-catch-item-title {
    text-align: center;
    vertical-align: middle;
}
.cover-catch-item-subtitle {
    font-size: 1.1rem;
    padding-top: 0.1rem;
}
.cover-catch-item-01 {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 2.5rem;
    color: #F11F8D;
    padding-top: 1.8rem;
}
.cover-catch-item-01 span {
    font-size: 3.6rem;
}
.cover-catch-item-left,
.cover-catch-item-right {
    width: 2.4rem;
}
.cover-catch-item-left img,
.cover-catch-item-right img {
    width: 100%;
}
.cover-subtitle {
    padding-top: 2.5rem;
    padding-left: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}
h1.cover-title {
    font-size: 2.5rem;
    font-weight: 900;
    padding-left: 1.6rem;
    line-height: 1.44;
    padding-top: 0.38rem;
    color: #0058ac;
}

/* pc カバー */
@media (min-width: 768px) {
    .cover {
        background-image: url("../image/mainvisual_pc.jpg");
        height: 65.1rem;
        background-position: bottom;
    }
    .cover-catch-container {
        padding-top: 10.1rem;
        padding-left: 41rem;
    }
    .cover-catch-item-left {
        content: url("../image/pc_frame_left.png");
        width: 5.26rem;
    }
    .cover-catch-item-right {
        content: url("../image/pc_frame_right.png");
        width: 5.26rem;
    }

    .cover-catch-item-subtitle {
        font-size: 2rem;
        padding-top: 1.6rem;
        line-height: 1;
    }
    .cover-catch-item-01 {
        font-size: 5.4rem;
        line-height: 1;
    }
    .cover-catch-item-01 span {
        font-size: 7.4rem;
        line-height: 1;
        padding-top: 3.1rem;

    }
    .cover-subtitle {
        padding-top: 4.3rem;
        padding-left: 41rem;
        font-size: 3.3rem;
        font-weight: 400;
    }
    h1.cover-title {
        font-size: 6rem;
        font-weight: 900;
        padding-left: 41rem;
        line-height: 1.41;
        padding-top: 1.3rem;
    }
}


/* ボタンリスト */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    margin: 2.4rem auto 3.5rem;
}
.button-inquiry,
.button-freetrial,
.button-request {
    padding-top: 1.65rem;
    width: 25rem;
    height: 4.8rem;
    border: none;
    border-radius: 2.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.button-inquiry {
    background-color: #77CB33;
}
.button-freetrial {
    background-color: #F6AA00;
}
.button-request {
    background-color: #3AC8AD;
}

/* pc ボタボタンリスト*/
@media (min-width: 768px) {
    .button-container {
        flex-direction: row;
        gap: 4rem;
        margin-top: -3.75rem 0 8.9rem;
    }
    .button-inquiry,
    .button-freetrial,
    .button-request {
        width: 34rem;
        height: 7.5rem;
        border-radius: 3.8rem;
        font-size: 2.4rem;
        font-weight: 700;
        padding-top: 2.7rem;
    }
}

/* 選ばれる3つの理由 */
.reason-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 1.175rem;
    width: 100%;
}
.reason-title span {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: #F11F8D;
    line-height: 1
    ;
}
.reason-container {
    display: flex;
    flex-direction: column;
    margin: 0 1.6rem;
    line-height: 1;
}
.reason-lsit1,
.reason-list2
.reason-list-row-reverse {
    width: 100%;
    height: auto;
}
.reason-list1 img
.reason-list2 img,
.reason-list-row-reverse img {
    width: 100%;
    padding-top: 1.725rem;
}
.reason-item-point {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: #F11F8D;
    line-height: 1;
    padding-top: 2.7rem;
}
.reason-item-point span {
    font-size: 3.6rem;
    line-height: 1;
}
.reason-item-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    padding-top: 1.1em;
}
.reason-item-text {
    padding-top: 1.7rem;
    padding-bottom: 3.6rem;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* pc 選ばれる3つの理由 */
@media (min-width: 768px)  {
    .reason-title {
        font-size: 3.6rem;
        line-height: 1;
        padding-bottom: 4.7rem;
    }
    .reason-title span {
        font-size: 5.4rem;
    }
    .reason-container {
        display: flex;
        flex-direction: column;
        row-gap: 4.8rem;
        margin: 0 38rem 4.7rem;
        line-height: 1;
    }
    .reason-list1,
    .reason-list2,
    .reason-list-row-reverse {
        display: flex;
        box-sizing: border-box;

    }
    .reason-list-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .reason-list1 img {
        content: url(../image/pc_reason_01.jpg);
    }
    .reason-list-row-reverse img {
        content: url(../image/pc_reason_02.jpg);
    }
    .reason-list2 img {
        content: url(../image/pc_reason_03.jpg);
    }
    .reason-list1 img,
    .reason-list2 img,
    .reason-list-row-reverse img {
        width: 50%
    }
    .reason-list1 img,
    .reason-list2 img,
    .reason-item-row-reverse {
        padding-right: 4rem;
    }
    .reason-item,
    .reason-list-row-reverse img {
        padding-left: 4rem;
    }
    .reason-item-point {
        font-size: 2.8rem;
        line-height: 1;
        padding-top: 2.1rem;
    }
    .reason-item-point span {
        font-size: 4.2rem;
        line-height: 1;
    }
    .reason-item-title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.75;
        padding-top: 1.3rem;
    }
    .reason-item-text {
        padding-top: 1.8rem;
        padding-bottom: 2.4rem;
        font-size: 1.6rem;
        line-height: 1.75;
    }
}

/* ctaボタン */
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 21.3rem;
    background-color: rgba(255, 85, 85, 0.1);
}
.cta-text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
    padding-bottom: 1.2rem;
}
.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.5rem;
    height: 6.9rem;
    border: none;
    border-radius: 3.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to right,#0271E0,#53A2F0);
    margin-bottom: 0;

}
/* pc ctaボタン */
@media (min-width: 768px) {
    .cta {
        height: 23.1rem;
    }
    .cta-text {
        font-size: 1.6rem;
        padding-bottom: 2rem;
    }
    .cta-text br {
        display: none;
    }
    .cta-button {
        width: 36rem;
        height: 7.5rem;
        border-radius: 3.8rem;
        font-size: 2.4rem;
    }
}

/* コース・目的 */
.tab-contents img {
    border-radius: 1.2rem;
}
.course-goal-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1;
    padding: 7.2rem 0 2.7rem;
}
.tabs {
    width: 100%;
    margin: 0 auto;
}
.tab-headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1.6rem;
    list-style: none;
    height: 6rem;
    border-radius: 1.2rem 1.2rem 0 0;
}
.tab-headers li {
    padding: 1.9rem 2rem;
    cursor: pointer;
    border-radius: 1.2rem 1.2rem 0 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(51,51,51,0.5);
    background-color: #F0F0F0;
}
.tab-headers li.active {
    padding: 1.9rem 2rem;
    border-radius: 1.2rem 1.2rem 0 0;
    color: #333;
    background-color: #F2F9FF;
}
.tab-content {
    display: none;
    flex-direction: column;
    padding: 2.8rem 1.6rem;
    background-color: #F2F9FF;
    width: 100%;
    margin-bottom: 6.3rem;
}
.tab-content.active {
    display: flex;
}
.tab-content-item-img {
    width: 100%;
    height: auto;
}
.tab-content-item-text {
    height: 6.9rem;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 1.8rem;
    padding-bottom: 3.2rem;
}
.tab-content-item-link-icon {
    margin-right: 0.7rem
}

/* pc コース・目的 */
@media (min-width: 768px) {
    .course-goal-title {
        font-size: 3.6rem;
        padding: 8.6rem 0 3.9rem;
    }
    .tabs {
        margin: 0 38rem;
    }
    .tab-headers {
        width: 116rem;
        display: flex;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        height: 7.5rem;
        border-radius: 1.2rem 1.2rem 0 0;
    }
    .tab-headers li {
        font-size: 2.4rem;
        width: 56rem;
        text-align: center;
        padding-top: 2.9rem;
    }
    .tab-headers li.active {
        font-size: 2.4rem;
        padding-top: 2.9rem;
    }
    .tab-content {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3.2rem 3.3rem 0;
        background-color: #F2F9FF;
        margin: 0 38rem 6.3rem;
        width: 116rem;
        justify-content: space-between;
        border-radius: 0 0 1.2rem 1.2rem;
    }
    .tab-content.active {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 38rem 6.3rem;
        width: 116rem;
    }
    .tab-content-item-img1,
    .tab-content-item-img2,
    .tab-content-item-img3,
    .tab-content-item-img4,
    .tab-content-item-img5,
    .tab-content-item-img6,
    .tab-content-item-img7,
    .tab-content-item-img8 {
        width: 53.2rem;
        height: auto;
    }
    .tab-content-item-img1 {
        content: url(../image/pc_cource_01.jpg);
    }
    .tab-content-item-img2 {
        content: url(../image/pc_cource_02.jpg);
    }
    .tab-content-item-img3 {
        content: url(../image/pc_cource_03.jpg);
    }
    .tab-content-item-img4 {
        content: url(../image/pc_cource_04.jpg);
    }
    .tab-content-item-img5 {
        content: url(../image/pc_purpose_01.jpg);
    }
    .tab-content-item-img6 {
        content: url(../image/pc_purpose_02.jpg);
    }
    .tab-content-item-img7 {
        content: url(../image/pc_purpose_03.jpg);
    }
    .tab-content-item-img8 {
        content: url(../image/pc_purpose_04.jpg);
    }
    .tab-content-item-text {
        height: 6.9rem;
        font-size: 2rem;
        font-weight: 700;
        padding-top: 1.8rem;
        padding-bottom: 3.2rem;
    }
    .tab-content-item-link-icon {
        width: 1.731rem;
        margin-right: 0.7rem
    }
}

/* 費用 */
.fee {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fee-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1;
    padding-top: 6.4rem;
    padding-bottom: 2.5rem;
    letter-spacing: .4rem;
}
thead {
    background-color: #F5F5F5;
    border: solid .1rem;
    border-color: #ccc;
}
tbody  {
    border: solid .1rem;
    border-color: #ccc;
}
tbody th,td {
    border: solid .1rem;
    border-color: #ccc;
}
table {
    border: solid .3rem;
    border-color: #ccc;
    border-collapse: collapse;
    margin-bottom: 6.7rem;
}
th {
    width: 11.8rem;
    height: 6.4rem;
    font-size: 1.6rem;
    font-weight: 400;
}
td {
    width: 22.2rem;
    height: 6.4rem;
    font-family: Poppins,sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: #F11F8D;
    text-align: center;
}
td span {
    font-size: 1.6rem;
    font-weight: 500;
}

/* pc 費用*/
@media (min-width: 768px) {
    .fee-title {
        font-size: 3.6rem;
        line-height: 1;
        padding-top: 8.4rem;
        padding-bottom: 3.9rem;
        letter-spacing: .4rem;
    }
    table {
        margin-bottom: 7.2rem;
    }
    th {
        width: 14.4rem;
        height: 7.8rem;
        font-size: 1.8rem;
    }
    td {
        width: 45.2rem;
        height: 7.8rem;
        font-size: 3.2rem;
    }
    td span {
        font-size: 1.8rem;
        font-weight: 500;
    }
}

/* 質問・教室 */
.question-classes {
    display: flex;
    flex-direction: column;
}
.question-classes-faq:hover {
    scale: 1.2;
}
.question-classes-search:hover {
    scale: 1.2;
}
.question-classes-faq {
    background-image: url("../image/sp_faq.jpg");
    background-size: cover;
    background-position: top;
    height: 17rem;
    width: 100%;
}
.question-classes-search {
    background-image: url("../image/sp_classrooms.jpg");
    background-size: cover;
    background-position: top;
    height: 17rem;
    width: 100%;
}
.question-classes-faq-title,
.question-classes-search-title {
    display: inline-block;
    width: 100%;
    height: 17rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
    padding-left: 1.6rem;
    padding-top: 6.7rem;
}

/* pc 質問・教室*/
@media (min-width: 768px) {
    .question-classes .container {
        display: flex;
    }
    .question-classes-faq {
        background-image: url("../image/pc_faq.jpg");
        width: 50%;
        height: 32rem;
    }
    .question-classes-search {
        background-image: url("../image/pc_classrooms.jpg");
        width: 50%;
        height: 32rem;
    }
    .question-classes-faq-title,
    .question-classes-search-title {
        height: 32rem;
        font-size: 3.2rem;
        padding-left: 36.8rem;
        padding-top: 14.6rem;
    }
    .question-classes-search-title {
        padding-left: 32rem;
    }
}

/* フッター */
.footer-copyright {
    height: 8.3rem;
    padding-top: 3.2rem ;
    font-family: Poppins,sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    color: #333;
    background-color: #ddd;
}

/* pc フッター*/
@media (min-width: 768px) {
    .footer-copyright {
        height: 12rem;
        padding-top: 5rem;
    }

}